.language-icon-wrap {
    display: flex;
    /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
    cursor: pointer;
    /* Hiển thị con trỏ tay khi hover */
}

.language-icon-wrap img {
    margin-right: 8px;
    /* Khoảng cách giữa biểu tượng và select */
}

#language-select {
    width: 100px;
    /* Thiết lập chiều rộng cho select */
}